# =============================================================================
#  Example .env file for os2display-docker-server
#  Cantains environment variables that needs local configuration. 
#  Copy this file to .env.docker and adjust the values as needed for your setup.
#  Lines starting with # are comments.
# =============================================================================


# The domain name where the server will be accessible (e.g., demo.os2display.dk)
OS2DISPLAY_DOMAIN=demo.os2display.dk

# Version of itkdev/os2display-api-service
# Find the latest version here: https://hub.docker.com/r/itkdev/os2display-api-service/tags
# Put COMPOSE_VERSION_API=develop if you want to install the dev-branch.
OS2DISPLAY_VERSION=develop

# Have docker compose include a MariaDB database or configure an external one?
# Set to 'true' to use the built-in MariaDB database provided by the Docker Compose setup.
# Set to 'false' to configure and use an external MariaDB database.
COMPOSE_INTERNAL_DATABASE=true

# Have docker compose include a Traefik proxy or configure an external one?
# Set to 'true' to use the built-in Traefik proxy provided by the Docker Compose setup.
# Set to 'false' to configure and use an external Traefik proxy.
COMPOSE_INTERNAL_PROXY=true
